results/*
.git-credentials
*.ipynb
*.ipynb_checkpoints
data/thinned/*
data/plots/*
data/keplerstellar.csv
data/subsampled_rows/*
!data/subsampled_rows/.gitkeep
!data/thinned/.gitkeep
!data/plots/.gitkeep
!results/.gitkeep
__pycache__/
*.pyc
*.pyo
*.pyd
*.jld2
*.h5
*voxel_grid.json
